body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
}


.brand-title {
    font-size: 1.5rem;
    color: #fff;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: #7B7A8A;
}

.navbar-links ul li {
    margin: 0 15px;
    color: #7B7A8A;

}

.navbar-links ul li a {
    
    text-decoration: none;
    font-size: 1.1rem;
    color: #7B7A8A;

}
.navbar-links ul li a:hover,
.navbar-links ul li a.active{
    color: #0F0E0E;
}
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links ul li {
        margin: 10px 0;
    }

    .navbar.active .navbar-links {
        display: flex;
    }
}
.signup{
    font-weight: bold;
    color: #54a3e4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

/* search container */
.search-container {
width: 100vw;
height: 10vh;
display: flex;
justify-content: center;
align-items: flex-start;
}

.searchbar{
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    width: 60vw;
    height: 40px;
    background-color:#D1E2E8;
    outline: none;
}

form{
    margin: 12px 12px 12px 12px;
}

.search-container button {
    padding: 10px;
    font-size: 17px;
    position: relative;
    right: 45px;
    color: #555;
    border: none;
    cursor: pointer;
    background-color: #D1E2E8;
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin: 4px 40px 40px 4px;
    padding: 4px 40px 40px 4px;
    flex-wrap: wrap;
}
.card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 6px;
    height: fit-content;
}

.card-body {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 0px;
}

.card-subtitle {
    font-size: 1rem;
    padding: 0px;
    color: #6c757d;
}

.card-text {
    font-size: 0.875rem;
    padding: 0px;
}

.card-link {
    font-size: 0.875rem;
    color: #007bff;
    text-decoration: none;
    margin-right: 16px;
}

.card-link:hover {
    text-decoration: underline;
}

/* footer  */
/* Footer Styles */
.footer {
    background-color: #333;
    color:#7B7A8A;
    padding: 4px 0;
    margin: 12px 12px 0px 12px ;
    font-family: Arial, sans-serif;
}


.footer-container {
    max-width: 1200px;
    margin: 0 24px;
    padding: 0 12px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 12px 12px 12px;
      
}

.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 2px 0;
    padding: 0px 2px;   

}

.footer-column h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color:#7B7A8A; /* Gold color for headings */
}

.footer-column p, .footer-column ul, .footer-column a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}
.mwt{
    color:#fff;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #54a3e4;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #fff;
    font-size: 1.5rem;
}

.social-links a:hover {
    color: #54a3e4;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
    }

    .footer-column {
        margin: 10px 0;
    }
}
